
body{
font-family: Arial, Helvetica, sans-serif;
background-color: #12475f;
color: #fff;
line-height: 1.1;
text-align: center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1px 5px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #009900;;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #009900;
  color: white;
}



#largegreenfont{
color:#009900;
text-shadow: 2px 2px 4px #000000;
font-size: 75px;
}

#greenfont{
color:#009900;
text-shadow: 2px 2px 4px #000000;
}


#yellowfont{
color:#ffff66;
text-shadow: 2px 2px 4px #000000;
}


.links a{
  /*float: left;*/
  color: #f2f2f2;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 20px;
}


.links a:hover {
color: #ffff66;
text-shadow: 2px 2px 4px #000000;
}


.links a.active {
  background-color: #4CAF50;
  color: white;
}


#wrapper{
display:grid;
grid-template-columns:(2,1fr);
grid-template-rows:1;
max-width: 900px;
margin:auto;
border-bottom-style: solid;
border-color:#ffff99;

}

#w1{
grid-column:1/1;
grid-row:1/1;
margin:auto;

}

#w2{
grid-column:2/2;
grid-row:1/1;
margin:auto;

}


#wrapper2{
display:grid;
grid-template-columns:(2,1fr);
grid-template-rows:1;

max-width: 900px;
margin:auto;
}


#w3{
grid-column:1/2;
grid-row:1/1;
margin:auto;
}

#w4{
grid-column:1/2;
grid-row:2/2;
margin:auto;
}


#assignments{
line-height: 1.5;
display:grid;
grid-template-columns:(1,1fr);
grid-template-rows:5;
grid-gap:1px;
max-width: 1200px;
padding:1px;
margin:auto;
background-color:red;
background-color: #12475f;
border-bottom-style: solid;
border-color:#ffff99;

}


#assmt-row1{
grid-column:1/1;
grid-row:1/1;
max-width: 1010px;
position:relative;
padding:0px;
margin:auto;
color:#12475f;
color:#ffff80;
color:#e6e6e6;
color:black;
background-color:#dfdfdf;
font-size:200%;
background-color:#12475f;
font-weight:bold;

}

#assmt-row2{
grid-column:1/1;
grid-row:2/2;
/*grid-gap:1px;*/
max-width: 500px;
position:relative;
/*margin: 10 auto;*/
margin-top:50;
/*border: 10px solid black;*/
padding:1px;
margin:auto;
color:#cccccc;
background-color:#dfdfdf;
background-color:#12475f;
font-size:200%;
background: rgba(204, 204, 204, 0.01);
font-weight:bold;


}


#assmt-row3{
grid-column:1/1;
grid-row:3/3;
/*grid-gap:1px;*/
max-width: 500px;
position:relative;
/*margin: 10 auto;*/
margin-top:50;
/*border: 10px solid black;*/
padding:1px;
margin:auto;
color:#cccccc;
background-color:#dfdfdf;
background-color:#12475f;
font-size:200%;
background: rgba(204, 204, 204, 0.01);
font-weight:bold;


}



#assmt-row4{
grid-column:1/1;
grid-row:4/4;
/*grid-gap:1px;*/
max-width: 500px;
position:relative;
/*margin: 10 auto;*/
margin-top:50;
/*border: 10px solid black;*/
padding:1px;
margin:auto;
color:#cccccc;
background-color:#dfdfdf;
background-color:#12475f;
font-size:200%;
background: rgba(204, 204, 204, 0.01);
font-weight:bold;
}



#assmt-row5{
grid-column:1/1;
grid-row:5/5;
/*grid-gap:1px;*/
max-width: 500px;
position:relative;
/*margin: 10 auto;*/
margin-top:50;
/*border: 10px solid black;*/
padding:1px;
margin:auto;
color:#cccccc;
background-color:#dfdfdf;
background-color:#12475f;
font-size:200%;
background: rgba(204, 204, 204, 0.01);
font-weight:bold;


}